{% extends 'blog/base.html' %}
{% block content %}
  <!-- Main Content -->
  <div class="container-fluid">
      <div class="side-body">
         <h1> Camera View </h1>
           <div class="col-lg-12">
                  <img src="/static/image/video_view.jpg" class="img-responsive">
                  <!-- Standard button -->
                  <div class="row">
                      <button type="button" class="col-md-5 btn btn-info btn-lg">Take A Photo</button>
                      <button type="button" class="col-md-4 btn btn-success btn-lg">Forward</button>
                      <button type="button" class="col-md-3 btn btn-danger btn-lg">Stop</button>
                  </div>
           </div>
      </div>
  </div>
</div>
{% endblock %}
